{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="{% static '/css/style1.css' %}">
</head>
<body>
    <div class="large-border">
        <div class="top-border">
            <div class="img-border-top">Здесь могла быть ваша реклама</div>
            <div class="button-container">
                <a class="button-top" href="{% url 'home' %}">Home</a>
                <a class="button-top" href="{% url 'books' %}">Books</a>
                <a class="button-top" href="{% url 'cars' %}">Cars</a>
                <a class="button-top" href="{% url 'about' %}">About us</a>
                <a class="button-top" href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </div>
</body>
</html>
