{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="{% static '/css/style1.css' %}">
</head>
<body>

<div class="large-border">
        <nav class="top-border">

            <a href="{% url 'home' %}">
                <div class="img-border-top"></div>
            </a>

            <nav class="button-container">
                <a class="home-icon" href="{% url 'home' %}">Home</a>
                <a class="food-icon" href="{% url 'food' %}">Food</a>
                <a class="drink-icon" href="{% url 'drinks' %}">Drinks</a>
                <a class="about-icon" href="{% url 'about' %}">About us</a>
                <a class="cart-icon" href="{% url 'cart' %}">Cart</a>

                {% if user.is_authenticated %}
                    <div class="user-border-2">You entered as {{ user.username }}</div>

                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="button-top">Logout</button>
                    </form>
                {% else %}
                    <a class="button-top" href="{% url 'login' %}">Login</a>
                {% endif %}

            </nav>
        </nav>

        <h1 class="home-text-top">Welcome to cart page</h1>

        <span class="text-border">
            Text is here with content
        </span>

        <div class="cart-container">
            <div class="cart-top">Your cart:</div>
            <div class="cart-big">

                {% if request.session.cart %}
                    <ul>
                        {% for item in request.session.cart %}
                            <li>{{ item.title }} - {{ item.price }}$</li>
                        {% endfor %}
                    </ul>

                {% else %}
                    <p>Your cart is empty.</p>
                {% endif %}
            </div>

            <div class="cart-big-bottom" id="message">
                <span class="price-line"><strong>Total: {{ total_price }}$</strong></span>
            </div>

            <form method="post" action="{% url 'payment_conf' %}">
                {% csrf_token %}
                <button type="submit" onclick="showMessage()" class="button-make-order">Make order</button>
            </form>


            <form method="post" action="{% url 'clear_cart' %}">
                {% csrf_token %}
                <button type="submit" class="clear-button">Clear cart</button>
            </form>


        </div>

    </div>
    <script src="{% static '/js/script.js' %}"></script>
</body>
</html>
