{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drinks</title>
    <link rel="stylesheet" href="{% static '/css/style1.css' %}">
</head>
<body>
    <div class="large-border">
        <div class="top-border">
            <div class="img-border-top"></div>
            <div class="button-container">
                <a class="button-top" href="{% url 'home' %}">Home</a>
                <a class="button-top" href="{% url 'food' %}">Food</a>
                <a class="button-top" href="{% url 'drinks' %}">Drinks</a>
                <a class="button-top" href="{% url 'about' %}">About us</a>

                {% if user.is_authenticated %}
                    <div class="user-border-2">You entered as {{ user.username }}</div>

                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="button-top">Logout</button>
                    </form>
                {% else %}
                    <a class="button-top" href="{% url 'login' %}">Login</a>
                {% endif %}

            </div>
        </div>

        <div class="text-border">
            <!-- text is here   -->
        </div>

        <div class="food-container-large">
            <div class="food-container-top">Our drinks:</div>


            <div class="food-container">
                {% for drink in drinks %}
                    <div class="food-text">{{ drink.title }}</div>
                    <div class="food-text">{{ drink.description }}</div>
                    <div class="food-text">{{ drink.price }}</div>
                {% empty %}
                    <div>No products available.</div>
                {% endfor %}
            </div>


        </div>


    </div>
</body>
</html>
