{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drinks</title>
    <link rel="stylesheet" href="{% static '/css/style1.css' %}">
</head>
<body>
    <div class="large-border">
        <nav class="top-border">

            <a href="{% url 'home' %}">
                <div class="img-border-top"></div>
            </a>

            <nav class="button-container">
                <a class="home-icon" href="{% url 'home' %}">Home</a>
                <a class="food-icon" href="{% url 'food' %}">Food</a>
                <a class="drink-icon" href="{% url 'drinks' %}">Drinks</a>
                <a class="about-icon" href="{% url 'about' %}">About us</a>
                <a class="cart-icon" href="{% url 'cart' %}">Cart</a>

                {% if user.is_authenticated %}
                    <div class="user-border-2">You entered as {{ user.username }}</div>

                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="button-top">Logout</button>
                    </form>
                {% else %}
                    <a class="button-top" href="{% url 'login' %}">Login</a>
                {% endif %}

            </nav>
        </nav>

        <div class="text-border">
            <!-- text is here   -->
        </div>

        <div class="food-container-large">
            <div class="food-container-top">Our drinks:</div>

            <div class="food-container-big">

            <div class="food-container">
                {% for drink in drinks %}
                    <div class="food-text">{{ drink.title }}</div>
                    <div class="food-text">{{ drink.description }}</div>
                    <div class="food-text">{{ drink.price }}$</div>

                    <form action="{% url 'add_drink_to_cart' drink.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="button-add-to-cart">Add product to cart</button>
                    </form>

                {% empty %}
                    <div class="food-text">No products available.</div>
                {% endfor %}
            </div>


            <div class="food-container">
                {% for drink in drinks %}
                    <div class="food-text">{{ drink.title }}</div>
                    <div class="food-text">{{ drink.description }}</div>
                    <div class="food-text">{{ drink.price }}$</div>

                    <form action="{% url 'add_drink_to_cart' drink.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="button-add-to-cart">Add product to cart</button>
                    </form>

                {% empty %}
                    <div class="food-text">No products available.</div>
                {% endfor %}
            </div>

            </div>

        </div>


    </div>
</body>
</html>
