{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static '/css/style1.css' %}">
</head>
<body>
    <div class="large-border">
        <div class="top-border">
            <div class="img-border-top"></div>
            <nav class="button-container">
                <a class="home-icon" href="{% url 'home' %}">Home</a>
                <a class="food-icon" href="{% url 'food' %}">Food</a>
                <a class="drink-icon" href="{% url 'drinks' %}">Drinks</a>
                <a class="about-icon" href="{% url 'about' %}">About us</a>
                <a class="cart-icon" href="{% url 'cart' %}">Cart</a>

                {% if user.is_authenticated %}
                    <div class="user-border-2">You entered as {{ user.username }}</div>

                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="button-top">Logout</button>
                    </form>
                {% else %}
                    <a class="button-top" href="{% url 'login' %}">Login</a>
                {% endif %}

            </nav>
        </div>

        <h1 class="home-text-top">Welcome to our pizzeria</h1>

        <div class="text-border">
            <h1>How do we cook pizza?</h1>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
            desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

            <div class="iframe-border">
                <iframe src="https://www.youtube.com/embed/485jZSwZS9Y?si=pVTJsd5EaFyjfF48" width="700" height="500">Your browser is
                    not supporting frames.
                    Click <a href="https://www.youtube.com/watch?v=485jZSwZS9Y&source_ve_path=OTY3MTQ">here</a> to
                    see the video.
                </iframe>
            </div>

            <h1>What ingredients do we use?</h1>

            <p> Contrary to popular belief, Lorem Ipsum is not simply random text.
                It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure
                Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature,
                discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of
                "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
                This book is a treatise on the theory of ethics, very popular during the Renaissance.
                The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

        </div>

    </div>
</body>
</html>
