{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static '/css/style1.css' %}">
</head>
<body>
    <div class="large-border">
        <div class="top-border">
            <div class="img-border-top"></div>
            <nav class="button-container">
                <a class="home-icon" href="{% url 'home' %}">Home</a>
                <a class="food-icon" href="{% url 'food' %}">Food</a>
                <a class="drink-icon" href="{% url 'drinks' %}">Drinks</a>
                <a class="about-icon" href="{% url 'about' %}">About us</a>
                <a class="cart-icon" href="{% url 'cart' %}">Cart</a>

                {% if user.is_authenticated %}
                    <div class="user-border-2">You entered as {{ user.username }}</div>

                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="button-top">Logout</button>
                    </form>
                {% else %}
                    <a class="button-top" href="{% url 'login' %}">Login</a>
                {% endif %}

            </nav>
        </div>

        <h1 class="home-text-top">Welcome to our pizzeria</h1>

        <div class="text-border">
            Text is here
        </div>

    </div>
</body>
</html>
