{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My profile</title>
    <link rel="stylesheet" href="{% static '/css/style1.css' %}">
</head>
<body>
    <div class="large-border">
        <div class="top-border">
            <div class="img-border-top">Здесь могла быть ваша реклама</div>
            <div class="button-container">
                <a class="button-top" href="{% url 'home' %}">Home</a>
                <a class="button-top" href="{% url 'food' %}">Food</a>
                <a class="button-top" href="{% url 'drinks' %}">Drinks</a>
                <a class="button-top" href="{% url 'about' %}">About us</a>

                {% if user.is_authenticated %}
                    <p class="user-border-2">My profile's settings</p>

                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="button-top">Logout</button>
                    </form>
                {% else %}
                    <a class="button-top" href="{% url 'login' %}">Login</a>
                {% endif %}

            </div>
        </div>

        <div>Description of user's profile</div>

    </div>
</body>
</html>
