.large-border {
    border: 1px solid black;
    height: 100vh;
    width: 100vw;
    /* background-color: cadetblue; */
    background-image: url('/static/img/telegram_blue.jpg');
    background-size: contain;
    
    /* 
    background-size: auto;

    Описание: Размер изображения остаётся исходным, т.е. его ширина и высота не изменяются. 
    Было 500 на 500px останется таким же
    
    --------------------------------------------------------------------------------------------------------------------------------------------------------------
    background-size: cover;

    Ключевое слово, обратное contain. Масштабирует изображение как можно больше c сохранением пропорций изображения (изображение не становится сплющенным). 
    Когда изображение и контейнер имеют разные размеры, изображение обрезается либо влево / вправо, либо сверху / снизу.

    Описание: Изображение масштабируется так, чтобы полностью покрыть элемент. 
    При этом может произойти обрезка части изображения по краям, если его пропорции не совпадают с пропорциями элемента.

    --------------------------------------------------------------------------------------------------------------------------------------------------------------
    background-size: contain;

    Масштабирует картинку так, чтобы она максимально накрыла собой весь блок. Картинка при этом не обрезается, а вписывается в блок с сохранением пропорций.

    Описание: Изображение масштабируется так, чтобы оно полностью помещалось в пределах элемента, не обрезаясь. 
    При этом могут остаться пустые области (пробелы) вокруг изображения, если его пропорции отличаются от пропорций элемента.

    --------------------------------------------------------------------------------------------------------------------------------------------------------------
    background-size: 50% auto;
    Ширина и высота(%, px, em)
    Если указана только ширина, то высота остается auto(неизменной)

    background-size: 50% 50%;
    Половина ширины и высоты элемента

    background-size: 100px 200px;

    --------------------------------------------------------------------------------------------------------------------------------------------------------------
    background-size:initial;
    initial = auto

    Описание: Устанавливает значение по умолчанию для свойства background-size, что эквивалентно значению auto.

    --------------------------------------------------------------------------------------------------------------------------------------------------------------
    background-size: inherit;

    Наследование родительского класса

    Описание: Наследует значение background-size от родителя

    */
}

.top-border {
    border: 1px solid black;
    width: 100%;
    height: 100px;
    /* background-color: green; */
    /* flex-direction: row; */
}

.img-border-top {
    border: 1px solid black;
    width: 250px;
    height: 100px;
    background-color: white;
    background-image: url('/static/img/pizza_logo1.png');
    background-size: contain;
    /* cover - заставляет изображение покрывать весь элемент(Может обрезать изображение) */
    /* contain -  сохраняет картинку не обрезая, заставляя ее покрыть элемент(Могут образоваться белые края по бокам блока)*/
    background-position: center;
    background-repeat: no-repeat;
    font-size: larger;
    line-height: 50px;
    padding-left: 30px;
}

.button-container {
    border: 1px solid black;
    height: 100px;
    width: 87%;
    color: black;
    background-color: gainsboro;
    margin-left: 251px;
    position: relative;
    bottom: 103px;
    display: flex;
    justify-content: space-around;
    background-image: url('/static/img/telegram_orange.jpg');
}

.button-top {
    border: 1px solid none;
    height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: white;
    background-color: rgb(6, 90, 90);
    cursor: pointer;
    background-image: url('/static/img/telegram_purple.jpg');
    background-size: contain;
}

.button-top:hover {
    color: aqua;
}

.login-border {
    border: 1px solid black;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
}

.do-not-have-account {
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: large;
    font-weight: 700;
    /* жирный шрифт от 100 до 900, чем больше число, тем жирнее */
}

.text-border {
    border: 1px solid none;
    /* background-color: cadetblue; */
    margin-top: 20px;
    margin-left: 35px;
    font-size: x-large;
    color: white;
}

.user-border {
    border: 1px solid none;
    height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: white;
    background-color: purple;
    cursor: pointer;
}

.user-border:hover {
    background-color: white;
    color: black;
}

.user-border-2 {
    border: 1px solid none;
    height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    padding-left: 30px;
    color: white;
    background-image: url('/static/img/telegram_purple.jpg');
    background-size: contain;
}

.user-border-2:hover {
    color: aqua;
}

p {
    color: white;
}
