/* ---------------------------------------------------------------------------- */
/* Стилизация всей полосы прокрутки */
/* полоска для прокрутки */

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

/* ---------------------------------------------------------------------------- */

/* Стилизация ползунка (ползунок, полоска который передвигается) */
/* Цвет ползунка */

::-webkit-scrollbar-thumb {
    background: darkcyan; 
}

/* ---------------------------------------------------------------------------- */

/* Стилизация области скроллбара (задний фон) */
::-webkit-scrollbar-track {
    background-color: gainsboro;
}

/* ---------------------------------------------------------------------------- */

/* Цвет ползунка при наведении */
/* ::-webkit-scrollbar-thumb:hover {
    background: red;
}  */

/* ---------------------------------------------------------------------------- */


.large-border {
    border: 1px solid black;
    height: 150vh;
    width: 100vw;
    /* background-color: cadetblue; */
    background-image: url('/static/img/telegram_blue.jpg');
    background-size: cover;
    overflow: hidden;
}
    /* overflow:
    visible(based), hidden, scroll, auto
    
    visible(Все что не вмещается в экран, оно будет показано снизу)
    hidden - скрыто все что не вмешается
    scroll - добавляет скролл если не вмещается содержимое
    auto - само добавит скролл если он нужен
    */

    
    /* background: linear-gradient(to bottom, darkblue, #04c3ee); */
    /* Градиент - это плавный переход цветов при скроле страницы */

    /* #6dd5ed
    Второй цвет изначальный
    */

    /* 
    background-size: auto;

    Описание: Размер изображения остаётся исходным, т.е. его ширина и высота не изменяются. 
    Было 500 на 500px останется таким же
    
    --------------------------------------------------------------------------------------------------------------------------------------------------------------
    background-size: cover;

    Ключевое слово, обратное contain. Масштабирует изображение как можно больше c сохранением пропорций изображения (изображение не становится сплющенным). 
    Когда изображение и контейнер имеют разные размеры, изображение обрезается либо влево / вправо, либо сверху / снизу.

    Описание: Изображение масштабируется так, чтобы полностью покрыть элемент. 
    При этом может произойти обрезка части изображения по краям, если его пропорции не совпадают с пропорциями элемента.

    --------------------------------------------------------------------------------------------------------------------------------------------------------------
    background-size: contain;

    Масштабирует картинку так, чтобы она максимально накрыла собой весь блок. Картинка при этом не обрезается, а вписывается в блок с сохранением пропорций.

    Описание: Изображение масштабируется так, чтобы оно полностью помещалось в пределах элемента, не обрезаясь. 
    При этом могут остаться пустые области (пробелы) вокруг изображения, если его пропорции отличаются от пропорций элемента.

    --------------------------------------------------------------------------------------------------------------------------------------------------------------
    background-size: 50% auto;
    Ширина и высота(%, px, em)
    Если указана только ширина, то высота остается auto(неизменной)

    background-size: 50% 50%;
    Половина ширины и высоты элемента

    background-size: 100px 200px;

    --------------------------------------------------------------------------------------------------------------------------------------------------------------
    background-size:initial;
    initial = auto

    Описание: Устанавливает значение по умолчанию для свойства background-size, что эквивалентно значению auto.

    --------------------------------------------------------------------------------------------------------------------------------------------------------------
    background-size: inherit;

    Наследование родительского класса

    Описание: Наследует значение background-size от родителя

    */

.top-border {
    border: 1px solid black;
    width: 100%;
    height: 100px;
    /* background-color: green; */
    /* flex-direction: row; */
}

.img-border-top {
    border: 1px solid black;
    width: 250px;
    height: 100px;
    background-color: darkslateblue;
    background-image: url('/static/img/pizza_logo1.png');
    /* background-size: contain; */
    background-size: 250px 150px;
    /* cover - заставляет изображение покрывать весь элемент(Может обрезать изображение) */
    /* contain -  сохраняет картинку не обрезая, заставляя ее покрыть элемент(Могут образоваться белые края по бокам блока)*/
    background-position: center;
    background-repeat: no-repeat;
    font-size: larger;
    line-height: 50px;
    /* padding-left: 30px; */
}

.button-container {
    border: 1px solid black;
    height: 100px;
    width: 87%;
    color: black;
    background-color: gainsboro;
    margin-left: 251px;
    position: relative;
    bottom: 103px;
    display: flex;
    justify-content: space-around;
    background-image: url('/static/img/telegram_orange.jpg');
}

.button-top {
    border: 1px solid none;
    height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: white;
    background-color: rgb(6, 90, 90);
    cursor: pointer;
    background-image: url('/static/img/telegram_purple.jpg');
    background-size: contain;
    /* background: linear-gradient(to bottom, purple, rgb(81, 81, 233)); */
}

.button-top:hover {
    color: aqua;
}

.login-border {
    border: 1px solid none;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* background-color: gainsboro; */

    /* background: linear-gradient(to bottom, purple, blueviolet); */
    background: linear-gradient(to top, purple, blueviolet);

}

/* ---------------------------------------------------------------------------- */

.do-not-have-account {
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: large;
    font-weight: 700;
    /* жирный шрифт от 100 до 900, чем больше число, тем жирнее */
}

.text-border {
    border: 1px solid none;
    /* background-color: cadetblue; */
    margin-top: 20px;
    margin-left: 35px;
    font-size: x-large;
    color: white;
}

.user-border {
    border: 1px solid none;
    height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: white;
    background-color: purple;
}

.user-border:hover {
    background-color: white;
    color: black;
}

.user-border-2 {
    border: 1px solid none;
    height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    padding-left: 10px;
    color: white;
    background-image: url('/static/img/telegram_purple.jpg');
    background-size: contain;
}

.user-border-2:hover {
    color: aqua;
}

.guest-border {
    width: 100vw;
    height: 30px;
    /* background-color: purple; */
    background-color: blueviolet;
    /* background: linear-gradient(to right, purple, blueviolet); */
    color: white;
    display: flex;
    justify-content: right;
    padding-right: 50px;
    padding-top: 30px;
}

.guest-border:hover {
    color: cyan;
}

.food-container-large {
    border: 1px solid white;
    height: 90%;
    width: 95%;
    background-color: none;
    color: white;
    margin-top: 20px;
    margin-left: 35px;
    padding-top: 20px;
    padding-left: 25px;
    font-size: x-large;
}

.food-container-top {
    border: 1px;
    height: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: x-large;
}

.food-container-big {
    border: 1px solid none;
    height: 100%;
    width: 100%;
    margin-top: 20px;
    background-color: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: darkorchid; */
}

.food-container {
    border: 1px solid white;
    height: 430px;
    width: 400px;
    color: white;
    background-color: gainsboro;
    font-size: x-large;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.food-text {
    color: black;
    margin-top: 20px;
    margin-left: 15px;
}

.home-text-top {
    border: 1px solid white;
    margin-top: 20px;
    margin-left: 35px;
    color: white;
}

.button-add-to-cart {
    border: 1px solid white;
    height: 50px;
    width: 300px;
    font-size: 20px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-add-to-cart:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.cart-container {
    border: 1px solid none;
    height: 700px;
    width: 200px;
    color: white;
    font-size: x-large;
    float: right;
    margin-right: 60px;
    background-color: darkblue;
}

.cart-top {
    border: 1px solid white;
    height: 80px;
    width: 200px;
    color: white;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to bottom, rgb(104, 6, 104), rgb(8, 171, 235)); */
    /* top colour!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
        background: linear-gradient(to bottom, purple, rgb(81, 81, 233));
}

.cart-big {
    border: 1px solid white;
    /* 7px border---------------------------------------------- */
    height: 80%;
    width: 200px;
    color: white;
    padding-top: 10px;
    font-size: x-large;
    /* background-color: purple; */
    /* background: linear-gradient(to bottom, purple, rgb(69, 69, 230)); */
    /* background: linear-gradient(to bottom, purple, rgb(81, 81, 233)); */
    background: linear-gradient(to bottom, rgb(104, 6, 104), rgb(8, 171, 235));
    padding-left: 0px;
    display: flex;
    flex-direction: column;
}

.cart-big-top {
    /* НЕ ИСПОЛЬЗОВАННЫЙ КЛАСС */
    border: 4px solid white;
    height: 30px;
    width: 200px;
    background-color: blueviolet;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-big-bottom {
    border: 1px solid white;
    height: 12%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(104, 6, 104), rgb(8, 171, 235));
}

.button-make-order {
    height: 70px;
    width: 205px;
    cursor: pointer;
    font-size: x-large;
    background-color: gainsboro;
}

.button-make-order:hover {
    background-color: lightgreen;
}

.cart-icon {
    border: 1px solid white;
    height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: white;
    background-color: rgb(6, 90, 90);
    cursor: pointer;
    background-image: url('/static/img/cart_icon3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cart-icon:hover {
    color: aqua;
}

.home-icon {
    border: 1px solid white;
    height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: white;
    background-color: rgb(6, 90, 90);
    cursor: pointer;
    background-image: url('/static/img/home_icon.png');
    /* background-size: contain; */
    background-size: 180px 100px;
    /* ширина, высота */
    background-repeat: no-repeat;
    background-position: center;
}

.home-icon:hover {
    color: darkblue;
}

.drink-icon {
    border: 1px solid white;
    height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: white;
    background-color: rgb(6, 90, 90);
    cursor: pointer;
    background-image: url('/static/img/drink_icon1.png');
    /* background-size: contain; */
    background-size: 180px 130px;
    /* ширина, высота */
    background-repeat: no-repeat;
    background-position: center;
}

.drink-icon:hover {
    color: aqua;
}

.food-icon {
    border: 1px solid white;
    height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: white;
    background-color: rgb(6, 90, 90);
    cursor: pointer;
    background-image: url('/static/img/food_icon2.jpg');
    background-size: 295px 185px;
    /* background-size: 180px 130px; */
    /* ширина, высота */
    background-repeat: no-repeat;
    background-position: center;
}

.food-icon:hover {
    color: aqua;
}

.about-icon {
    border: 1px solid white;
    height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: white;
    background-color: rgb(6, 90, 90);
    cursor: pointer;
    background-image: url('/static/img/about_icon.png');
    background-size: 150px 102px;
    /* ширина, высота */
    background-repeat: no-repeat;
    background-position: center;
}

.about-icon:hover {
    color: aqua;
}

.iframe-border {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.expire-input {
    margin-left: 15px;
}

.cvv-input {
    margin-left: 65px;
}
